<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="DeepZoomPivotConstructor" version="1.0.0-alpha907" targetFramework="net45" />
  <package id="DZParallelLib" version="1.0.0-alpha905" targetFramework="net45" />
  <package id="morelinq" version="1.0.16006" targetFramework="net45" />
  <package id="Nito.AsyncEx" version="2.1.3" targetFramework="net45" />
  <package id="VerifyArgs" version="1.0.2.0" targetFramework="net45" />
</packages>